:root{
    --a-color: #00388b;
    --b-color: #98b833;
    --c-color: #eabf35;
    --d-color: #7b6da8;
    --e-color: #9c6b0c;
    --f-color: #b90715;
    --g-color: #3b9bd5;
    --h-color: #d98c00;
    --j-color: #d0a2ac;
    --k-color: #cbb17e;
    --l-color: #00959c;
    --m-color: #8a0079;
}
*{
    box-sizing: border-box;
}

.container-map{
    position: relative;
}

.container-map .container-buttons{
    display: block;
}

.container-map.hide .container-buttons{
    display: none;
}

.container-map.hide #img-rutas{
    width: 200px;
}

.container-map #img-rutas{
    width: 700px;
}

.container-map .container-buttons
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.container-map .container-buttons
.button:active{
    opacity: 0.8;
    z-index: 4;
}

.container-map .container-buttons
.button:hover div:first-of-type{
    display: flex;
    width: 20px;
    height: 20px;
    border: 5px double red;
    border-radius: 20px;
    position: absolute;
    bottom: -25px;

    animation: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container-map .container-buttons
.button button{
    width: 40px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    background: lightgray;
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    border-style: none;
    z-index: 2;
}

.container-map .container-buttons
.button #button-triangle{
    width: 0;
    height: 0;
    position: absolute;
    bottom: -31px;
    border-top: 30px solid lightgray;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
}

.container-map .container-buttons
.button #title{
    width: 120px;
    height: 40px;
    position: absolute;
    top: 8px;
    left: 35px;
    background: white;
    padding-left: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.container-map .container-buttons
.button:hover #title{
    display: flex;
    animation-name: moveTitle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: 3;
}

/* Styles for A Button */
.container-map .container-buttons
.button:nth-child(1){
    position: absolute;
    top: 50px;
    left: 460px;
}

.container-map .container-buttons
.button:nth-child(1) button{
    background: var(--a-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(1) #button-triangle{
    border-top: 30px solid var(--a-color);
}

.container-map .container-buttons
.button:nth-child(1) #title{
    border: 5px solid var(--a-color);
}

/* Style for B Button */
.container-map .container-buttons
.button:nth-child(2){
    position: absolute;
    top: 50px;
    left: 210px;
}

.container-map .container-buttons
.button:nth-child(2) button{
    background: var(--b-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(2) #button-triangle{
    border-top: 30px solid var(--b-color);
}

.container-map .container-buttons
.button:nth-child(2) #title{
    border: 5px solid var(--b-color);
}

/* Style for C Button */
.container-map .container-buttons
.button:nth-child(3){
    position: absolute;
    top: 160px;
    left: 180px;
}

.container-map .container-buttons
.button:nth-child(3) button{
    background: var(--c-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(3) #button-triangle{
    border-top: 30px solid var(--c-color);
}

.container-map .container-buttons
.button:nth-child(3) #title{
    border: 5px solid var(--c-color);
}

/* Style for D Button */
.container-map .container-buttons
.button:nth-child(4){
    position: absolute;
    top: 250px;
    left: 250px;
}

.container-map .container-buttons
.button:nth-child(4) button{
    background: var(--d-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(4) #button-triangle{
    border-top: 30px solid var(--d-color);
}

.container-map .container-buttons
.button:nth-child(4) #title{
    border: 5px solid var(--d-color);
}

/* Style for E Button */
.container-map .container-buttons
.button:nth-child(5){
    position: absolute;
    top: 125px;
    left: 390px;
}

.container-map .container-buttons
.button:nth-child(5) button{
    background: var(--e-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(5) #button-triangle{
    border-top: 30px solid var(--e-color);
}

.container-map .container-buttons
.button:nth-child(5) #title{
    border: 5px solid var(--e-color);
}

/* Style for F Button */
.container-map .container-buttons
.button:nth-child(6){
    position: absolute;
    bottom: 90px;
    left: 610px;
}

.container-map .container-buttons
.button:nth-child(6) button{
    background: var(--f-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(6) #button-triangle{
    border-top: 30px solid var(--f-color);
}

.container-map .container-buttons
.button:nth-child(6) #title{
    border: 5px solid var(--f-color);
}

/* Style for G Button */
.container-map .container-buttons
.button:nth-child(7){
    position: absolute;
    top: 170px;
    left: 635px;
}

.container-map .container-buttons
.button:nth-child(7) button{
    background: var(--g-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(7) #button-triangle{
    border-top: 30px solid var(--g-color);
}

.container-map .container-buttons
.button:nth-child(7) #title{
    border: 5px solid var(--g-color);
}

/* Style for H (Usme) Button */
.container-map .container-buttons
.button:nth-child(8){
    position: absolute;
    top: 115px;
    left: 745px;
}

.container-map .container-buttons
.button:nth-child(8) button{
    background: var(--h-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(8) #button-triangle{
    border-top: 30px solid var(--h-color);
}

.container-map .container-buttons
.button:nth-child(8) #title{
    border: 5px solid var(--h-color);
}

/* Style for H (Tunal) Button */
.container-map .container-buttons
.button:nth-child(9){
    position: absolute;
    top: 155px;
    left: 710px;
}

.container-map .container-buttons
.button:nth-child(9) button{
    background: var(--h-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(9) #button-triangle{
    border-top: 30px solid var(--h-color);
}

.container-map .container-buttons
.button:nth-child(9) #title{
    border: 5px solid var(--h-color);
}

/* Style for J Button */
.container-map .container-buttons
.button:nth-child(10){
    position: absolute;
    top: -35px;
    left: 510px;
}

.container-map .container-buttons
.button:nth-child(10) button{
    background: var(--j-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(10) #button-triangle{
    border-top: 30px solid var(--j-color);
}

.container-map .container-buttons
.button:nth-child(10) #title{
    border: 5px solid var(--j-color);
}

/* Style for K Button */
.container-map .container-buttons
.button:nth-child(11){
    position: absolute;
    bottom: 80px;
    left: 430px;
}

.container-map .container-buttons
.button:nth-child(11) button{
    background: var(--k-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(11) #button-triangle{
    border-top: 30px solid var(--k-color);
}

.container-map .container-buttons
.button:nth-child(11) #title{
    border: 5px solid var(--k-color);
}

/* Style for L Button */
.container-map .container-buttons
.button:nth-child(12){
    position: absolute;
    top: 0px;
    left: 620px;
}

.container-map .container-buttons
.button:nth-child(12) button{
    background: var(--l-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(12) #button-triangle{
    border-top: 30px solid var(--l-color);
}

.container-map .container-buttons
.button:nth-child(12) #title{
    border: 5px solid var(--l-color);
}

/* Style for M Button */
.container-map .container-buttons
.button:nth-child(13){
    position: absolute;
    top: 0px;
    left: 310px;
}

.container-map .container-buttons
.button:nth-child(13) button{
    background: var(--m-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(13) #button-triangle{
    border-top: 30px solid var(--m-color);
}

.container-map .container-buttons
.button:nth-child(13) #title{
    border: 5px solid var(--m-color);
}

/* Styles for pop-up troncales */
.style-container{
    width: 940px;
    position: absolute;
    background: white;
    top: 10%; 
    left: -10px;
    right: 0;
    margin: 0 auto;
    z-index: 5;
}

.container-troncales{
    display: none;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 10px 1px lightgray;
    padding: 10px 10px 30px 10px;
}

.container-troncales .info-troncal{
    display: grid;
    grid-template-areas: "a b c d";
}

.container-troncales .info-troncal div{
    grid-area: d;
    border: 1px solid black;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 0 0 0 20px;
}

.container-troncales .info-troncal div img{
    width: 200px;
}

.container-troncales .info-troncal div h4{
    margin: 0 0 10px 0;
    text-align: center;
}

.container-troncales > button{
    width: 40px;
    height: 40px;
    border: 5px;
    padding: 0;
    border-radius: 20px;
    border-style: double;
    border-color: white;
    background: red;
    position: absolute;
    top: -10px;
    right: -10px;
}

.container-troncales > button:hover{
    background: rgb(255, 97, 97);
}

.container-troncales > button:active{
    background: red;
}

.container-troncales button i{
    color: white;
}

.container-troncales h3{
    font-size: 28px;
    position: relative;
}

.container-troncales h3::after{
    content: '';
    width: 90%;
    height: 1px;
    background: lightgray;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container-troncales .line-time{
    position: relative;
    height: 70px;
    margin: 30px 0 0 0;
}

.container-troncales .line-time >
div:nth-of-type(1){
    width: 900px;
    height: 15px;
    background: lightgray;
    border-radius: 8px;
    position: absolute; 
    bottom: 20px;
}

.container-troncales .line-time
img{
    width: 80px;
    position: absolute;
    top: 0;
}

.container-troncales .line-time > 
#line-time-buttons{
    width: 900px;
    position: absolute;
    bottom: -8px;
    left: 0px;
    display: grid;
    justify-items: center;  
}

.container-troncales .line-time > 
div:nth-of-type(2) div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-troncales .line-time > 
div:nth-of-type(2) div h2{
    font-size: 14px;
    margin: 5px 0 0 0;
    height: 15px;
    overflow: hidden;
    text-align: center;
}

.container-troncales .line-time
div:nth-of-type(2) button{
    width: 30px;
    height: 30px;
    padding: 0;
    border-style: none;
    border-radius: 15px;
    color: white;
    font-weight: 700px;
}

.container-troncales .line-time
div:nth-of-type(2) div:hover button{
    opacity: 0.5;
}

.container-troncales .line-time
div:nth-of-type(2) div button:active{
    opacity: 1;
}

.container-troncales .line-time
div:nth-of-type(2) button i{
    color: white;
}

/* Color buttons of time line*/
.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(1) button{
    background: var(--a-color);
}

.container-troncales .line-time >
div:nth-of-type(2) div:nth-of-type(2) button{
    background: var(--b-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(3) button{
    background: var(--c-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(4) button{
    background: var(--d-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(5) button{
    background: var(--e-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(6) button{
    background: var(--f-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(7) button{
    background: var(--g-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(8) button{
    background: var(--h-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(9) button{
    background: var(--j-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(10) button{
    background: var(--k-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(11) button{
    background: var(--l-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(12) button{
    background: var(--m-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(13) button{
    background: var(--a-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(14) button{
    background: var(--c-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(15) button{
    background: var(--e-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(16) button{
    background: var(--g-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(17) button{
    background: var(--j-color);
}

/* Animations */
@keyframes moveTitle{
    from{
        width: 0px;
    }
    to{
        width: 150px;
    }
}

@keyframes blink{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}